<link rel="stylesheet" href="/stylesheets/mainpage.css">

<div class="binList-container col-md-12" style="margin-top: 5px;">
    <div id="carousel-example-generic" class="row carousel slide" data-ride="carousel" data-interval="false">
        <div class="btn-toolbar" role="toolbar" aria-label="..." style=" margin:auto; background-color: #f8f8f8; width: 95%;">
            <div class="btn-group" role="group" aria-label="..."  style="margin-left: 0px">
                <button type="button" class="btn btn-default" href="#carousel-example-generic" data-slide="prev">&laquo;</button>
            </div>
            <div class="btn-group" role="group" aria-label="..." style="float: right">
                <button type="button" class="btn btn-default" href="#carousel-example-generic" data-slide="next">&raquo;</button>
            </div>
        </div>
        <div class="binList" style="margin:auto;">

            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2" class="active"></li>
            </ol>

            <div class="carousel-inner" role="listbox">
                <div class="item">
                    <div class="binList" style="margin:auto;width: 95%; height: 670px; background-color: #992e36;">
                    </div>

                    <div class="carousel-caption">
                        2016/7/9
                    </div>
                </div>

                <div class="item">
                    <div class="binList" style="margin:auto;width: 95%; height: 670px; background-color: #3c763d;">
                    </div>
                    <div class="carousel-caption">
                        2016/7/10
                    </div>
                </div>

                <div class="item active">

                    <div hexagon-container style="margin:auto;width: 95%; height: 670px;" id="hexagon-chart">
                    </div>

                    <div class="carousel-caption">
                        2016/7/11
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>